/* colors:
   #434342 -> rgba(67, 67, 66, 1)
   #6EB43F -> rgba(110, 180, 63, 1
   #76AC1C -> rgba(118, 172, 28, 1)
   #6BB542 -> rgb(107, 181, 66)

*/

body {
  background-color: #f1f1f1;
  /* color: #555; */
  color: #3B4145;
}

/* "Disable" downvote only for posts. */
.link .down {
  display: none;
}


.morelink a {
    color: white;
    background-color: #449EF8;
}

/* Hide the arrow next to submit buttons. */
.morelink .nub {
  display: none;
}

/* Subscribe button. */
.fancy-toggle-button .active {
  color: #000;
  display: inline-block;
  padding: 5px;
}

.fancy-toggle-button .add {
  background-image: none;
  background-color: green;
}

/* Unsubscribe button. */
.fancy-toggle-button .remove {
  background-image: none;
  background-color: red;
}

.sidecontentbox .more a {
  display: none;
}


/* Markdown paragraph */
.md p {
  font-family: Cardo, serif;
  font-size: 9pt;
  color: #3B4145;
}

/* Markdown code. */
.md pre code {
  border: none;
  background: none;
}

/* Code block. */
.usertext-body .md pre,
.md pre {
  background-color: #f5f5f5;
  padding: 10px;
  box-shadow: inset 0px 0px 1px rgba(0,0,0,.15);
  font-size: 12px;
  color: #424242;
  border: 1px solid #e2e2e2;

}

/* Inline literal */
.link .md :not(pre)>code,
.usertext-body p code,
.md p code {
  background: none;
  border: none;
}


/* Post body */
.link .usertext-body .md {
  background: none;
  border-radius: 5px;
  border: none;
}

/* Comment entry */
.usertext-edit .md textarea {
  font-family: 'Consolas', monospace;
  padding: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  background-color: #fafafa;
}

#search input[type="text"]:focus,
.linefield input[type="text"]:focus,
.usertext-edit .md textarea:focus {
  background-color: #fdfdfd;
  box-shadow: 0px 0px 3px #00c853;
}

/* Formating help on */
.toggle .option .active {

}

/* Formating help off */
.toggle .option {
   color: green;
   min-width: 100px;
}

/* Post title. */
.link .title {
  color: #6BB542;
  font-weight: bold;
  font-family: 'Source Sans', sans-serif;
}

.link .title:visited {
  color: #529C29;
}

.link .title:hover {
  color: #85CF5C;
}

/* Search entry. */
#search input[type=text] {
  font-family: 'Source Sans', sans-serif;
  background-color: #fcfcfc;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  outline: none;
  font-style: italic;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  background-color: #fafafa;

}

.side {
  font-family: 'Source Code', sans-serif;
  padding: 10px;
  border-radius: 3px;
  margin: 0px 10px 10px;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #fdfdfd;
}

.morelink a,
.spacer .sidebox,
.morelink {
   display: inline-block;
   background: none;
}

.morelink {
  background-color: #6BB542;
  color: #fff;
  border-radius: 3px;

}

.morelink a {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  width: 110px;
  text-align: center;
  position: relative;
  color: #fff;
}

.morelink:hover {
  background: none;
  background-color: #85CF5C;
  color: #fff;
}


.spacer:nth-child(3),
.spacer:nth-child(4) {
  display: inline;
}

.spacer:nth-child(4) {
  display: inline;
  margin-left: 36px;
}



.sponsorshipbox {
  display: none;
}

div.spacer div.sidebox + div.spacer div.sidebox {
   font-weight: bold;
}

.titlebox .bottom,
.titlebox .age {
  display: none;
}

#header-img.default-header {
  display: none;
}

#header {
  height: 70px;
  border: none;
  /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); */
  background-color: #fdfdfd;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  border-bottom: 1px solid #e2e2e2;
}

.content {
  margin-top: 80px;
}


/* Markdown elements. */

.mp p a {
  color: #6BB542;
  background-color: #fff;
}

#header-bottom-right {
  border: 1px solid #e2e2e2;
  border-bottom: none;
  border-radius: 2px;
  margin-right: 10px;
  background-color: #fdfdfd;
}

.footer-parent {
  margin: 0px;
  box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.1);
  background-color: #fdfdfd;
}

#hsts_pixel { display: none }
.debuginfo {
  display: none;
}

button {
  display: inline-block;
  border-radius: 4px;
  padding: 5px;
  font-weight: bold;
  outline: none;
  text-decoration: none;

  border-color: #d3d3d3;
  box-shadow: none;
  outline: none;
  background-color: #fff;
}

.content {
  border-right: 325px solid #f1f1f1;
  margin-left: 10px;
}

.sitetable .thing {
  border: 1px solid #e2e2e2;
  padding: 10px;
  margin: 0;
  background-color: #fcfcfc;
  margin-bottom: 10px;
  border-radius: 2px;
}

.sitetable {
  margin-right: 10px;
}

.sidecontentbox .content {
  border: 1px solid #e2e2e2;
  border-radius: 2px;
}

.usertext {
  border: 1px solid #e2e2e2;
  border-radius: 2px;
}

#searchexpando, #moresearchinfo {
  border-radius: 2px;
  border: 1px solid #FEC606;
  background-color: #F7DA64;
}

.sidebox,
#ad-frame, #ad_main {
  display: none;
}

#sr-form {
  width: 100%;
  margin-right: 600px;
  border: 2px dashed #ddd;
}

.linefield {
  border: 1px solid #e2e2e2;
  padding: 10px;
  background-color: #fcfcfc;
  border-radius: 2px;
}

.linefield .usertext {
  border: none;
}

.linefield input[type="text"] {
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  background-color: #fafafa;
}

.side .md {
  padding: 10px;
    box-shadow: outset 1px 1px 2px #69f0ae;
}

.linefield.mobile {
  border-radius: 2px;
  background-color: #f1f8e9;
  border: 1px solid #c5e1a5;
}

.swatch {
  border: 1px solid transparent;
  border-radius: 2px;
}

#sr-header-area {
  border-bottom: 1px solid #e2e2e2;
  background-color: #f0f0f0;
}
